* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background-color: #666;
}

.header {
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}


.content {
  width: 1200px;
  margin: 0 auto;
}
