

.search-form {
    background-color: #fff;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 30px;
}

.form input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.form input:focus {
    border-bottom: #00bbec 3px solid;

}

.action {
    margin: 20px 0 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 20px;
}

.action button {
    width: 100px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    border: none;
    border-radius: 10px;

}

.action button:hover {
    border: #000 1px solid;
    border-radius: 10px;
}

.reset {
    color: #000;
    background-color: transparent;
}

.search {
    background-color: #00bbec;
    color: #fff;
}

.result-text {
    color: #cf1a1a;
    background-color: #fff;
    text-align: center;
    font-size: 30px;
    width: 500px;
    margin: 200px auto;
    padding: 50px 0;
    border-radius: 30px;
    font-weight: 700;
}

.movie-list-search {
    flex-wrap: wrap !important;
}

button:disabled {
    background-color: #666;
    cursor: not-allowed;
}